<div class="row-fluid">
    <div class="span12">
        <h2>ToolTip Modal</h2>
        <p>
            The ToolTip Modal allows the user to create an element that will show a ToolTip on Mouseover or a Modal on click.
        </p>
        <div class="row-fluid" data-ng-repeat="member in model.familyMembers">
            <div>
                <a 
                    href="#"
                    cdi-modal 
                    user-model="member" 
                    template-url="modalTemplateUrl">{{ userModel.name }}</a>
            </div>
        </div>
    </div>
</div>